extend ../layouts/container-center.pug
include ../components/win-border.pug
block centerContent

    - 
        const inputs = [
            {
                label : "Nickname",
                inputType : "text",
                name : "nickname",
                optional : false, 
                placeholder : "Jose_Vargas"
            },
            {
                label : "Contraseña",
                inputType : "password",
                name : "password",
                optional : false,
                placeholder : "********"
            },
        ]; 
    section(class="xl:w-[30vw] md:w-[50vw] w-[90vw] min-h-[60vh] h-full  border-2 border-black  bg-white flex flex-col items-center justify-start gap-4 pb-2")

        div(class="w-full flex items-center justify-start bg-linear-to-r from-blue to-blue-l px-2 gap-1")
            img(
                src="/icons/camera.svg"
                class="w-6 h-6 text-white"
                alt="Icono de camara"
            )
            h1(class="text-white w-full font-bold text-sm") Inicia sesion en Fotaza 2  

        img(
            src="/icons/user-bold.svg"
            alt="Icono de agregar usuario"
            class="bg-win-gray/50 p-2 w-20 h-20 border-black border-2" 
        ) 
        p(class="text-lg text-black font-bold") ¡Bienvenido de nuevo a Fotaza 2!
        p(class="text-sm text-black opacity-70 text-center") Ingresa tu nickname y contraseña para acceder a tu cuenta
        form(
            class="flex flex-col items-center justify-start gap-4 w-full"
            id="form-login"
        ) 


            section(class="px-4 flex flex-col items-center justify-start w-full gap-1")
                - for(let i=0; i < inputs.length; i++)

                    label(
                        for=inputs[i].name 
                        class="text-black text-sm w-full"
                    ) 
                        = inputs[i].label  

                        if !inputs[i].optional 
                            span(
                                class="text-red-500 text-sm mb-1"
                            ) *

                    if inputs[i].inputType == "textArea"
                        +winBorder("w-full")
                            textarea(
                                name=inputs[i].name id=inputs[i].name 
                                class="text-black text-sm h-20 w-full resize-none px-2 "
                                placeholder=inputs[i].placeholder
                            )
                    else 
                        +winBorder("w-full")
                            input(
                                type=inputs[i].inputType
                                name=inputs[i].name id=inputs[i].name 
                                class="text-black text-sm w-full px-2"
                                placeholder=inputs[i].placeholder
                            ) 

                    
                    span(
                        class="text-red-500 text-sm h-4 w-full"
                        id=`${inputs[i].name}-error`
                    )

                div#form-error.text-red-500.text-sm.w-full.text-center.h-4.w-full

                div(class="mt-3 w-[50%]")
                    +winBorder("w-full")
                        button(
                            type="submit"  
                            id="button-submit-login"
                            class="text-white cursor-pointer w-full py-1 bg-blue-l hover:bg-blue border border-black text-lg"
                        ) Iniciar sesion

            hr(class="w-[80%] color-win-gray")
            
            .flex.items-center.justify-center.gap-2
                p(class="text-black text-sm") ¿Ya tienes una cuenta? 
                a(
                    href="/autentication/register" 
                    class="text-lg hover:text-blue text-blue-l cursor-pointer underline"
                ) Registrarse
        script(src="/js/helpers/errors.js" type="module") 
        script(src="/js/helpers/validator.js" type="module") 
        script(src="/js/auth/schemas.js" type="module") 
        script(src="/js/auth/senders.js" type="module")
        script(src="/js/auth/validatorLogin.js" type="module")  