include ./navItem.pug

mixin navbar
    -
        const links = [
            { icon: "house",            label: "Inicio",         href: "/" },
            { icon: "user-sound",       label: "Para ti",        href: "/foryou" },
            { icon: "magnifying-glass", label: "Explorar",       href: "/search" },
            { icon: "upload",           label: "Compartir",      href: "/upload" },
            { icon: "bell",             label: "Notificaciones", href: "/notifications" },
            { icon: "user",             label: "Perfil",         href: "/profile" },
        ]
    section(class="bg-white p-4 flex flex-col xl:flex-row items-center justify-between gap-4 xl:gap-0 w-full border-b-2 border-black")
        a(
            class="xl:flex items-center justify-center gap-2 hidden " 
            href="#"
        )
            img(
                src="/icons/camera.svg"
                alt="logo-fotaza2"
                class="w-10 h-10 p-1 bg-blue border-2 border-black"
            )
            p(class="text-xl text-black font-bold") Fotaza 2
        nav(class="flex items-center gap-1")
            each link in links
                a(href=link.href class="relative")
                    +navItem(link.label, link.icon, link.label, link.href == currentPath, true)
                    if user && link.icon === "bell"
                        span(
                            data-notif-badge
                            class="absolute top-0 right-0 min-w-5 h-5 px-1 bg-red-500 text-white text-xs font-bold flex items-center justify-center border border-black"
                        ) 0

        div(class="flex items-center justify-center gap-2")
            if(user)
                +winBorder()
                    button(
                        class="px-3 py-2 bg-win-gray/30 hover:bg-win-gray/50 text-sm text-black cursor-pointer"
                        id="btn-logout"
                    ) Cerrar Sesion
            else
                +winBorder()
                    a(
                        class="px-3 py-2 bg-win-gray/30 hover:bg-win-gray/50 text-sm text-black"
                        href="/autentication/login"
                    ) Iniciar Sesion
            
                a(
                    class="px-3 py-1 bg-blue/80 hover:bg-blue text-sm text-white border-2 border-black"
                    href="/autentication/login"
                ) Registrarse

        script(src="/js/auth/logout.js") 